<%
=begin%>
 <%= render 'shared/flash_messages' %> 
<%
=end%>

<%
=begin%>
 <div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="main-container">
    <h1>あなたの声でコミットするToDoアプリです</h1>
    <p>達成したいことをあなたの声でコミットしてみよう！</p>
  </div>
</div> 
<%
=end%>

<div class="main-container">
  <div class="jumbotron jumbotron-fluid">
    <div class="only_back">
      <h1>あなたの声でコミットするToDoアプリです</h1>
      <p>達成したいことをあなたの声でコミットしてみよう！</p>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>