<%= render 'shared/flash_messages' %>

<div class="jumbotron jumbotron-fluid jumbotron-extend">
  <div class="main-container">
    <h1>あなたの声でコミットするToDoアプリです</h1>
    <p>達成したいことをあなたの声でコミットしてみよう！</p>
  </div>
</div>