<div class="container-list">
    <%= form_with model: @list, url: { action: :update }, class: "edit_list", local: true do |f| %>
      <% if @list.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <div class="text-center">
        <h2><%= f.label :title %></h2>
      </div>
      <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "リスト名を入力してください" %>

      <div class="text-center">
        <%= f.submit "編集する", class: "btn btn-success btn-lg sub-btn" %>
      </div>
    <% end %>
</div>